BattleCppBridge/bin.meta
BattleCppBridge/obj.meta
BattleCppBridge/.vs
BattleCppBridge/bin
BattleCppBridge/obj
Lua/Lua.iml
Lua/Lua.iml.meta
Lua/src.meta
Lua/.idea/.gitignore
Lua/.idea/misc.xml
Lua/.idea/modules.xml
Lua/.idea/vcs.xml
Lua/.emmyrc.json
Lua/.idea/.name
Lua/GameScripts/GameScripts.iml
Lua/GameScripts/GameScripts.iml.meta
Lua/GameScripts/.idea/misc.xml
Lua/GameScripts/.idea/vcs.xml
Lua/GameScripts/.idea/GameScripts.iml
Lua/GameScripts/.idea/modules.xml
Lua/.idea/Lua.iml
Lua/GameScripts/.idea/workspace.xml
Lua/.idea/.idea.Lua.dir/.idea/indexLayout.xml
Lua/.idea/.idea.Lua.dir/.idea/projectSettingsUpdater.xml
Lua/.idea/.idea.Lua.dir/.idea/vcs.xml
Lua/.idea/.idea.Lua.dir/.idea/workspace.xml
Lua/.idea/workspace.xml
__pycache__/